# getmailrc -- getmail configuration file
# $Id: speakeasy.rc,v 1.1 2012/01/08 18:28:20 root Exp $
#

########################################################################
[options]
verbose = 0
delete = True
message_log = /var/log/getmail

########################################################################
[retriever]
type = MultidropPOP3Retriever
use_apop = False
server = mail.speakeasy.net
username = dpanariti
password = &U&Ixover

# Our domain mailbox mailhost records the envelope recipient address in a
# new Delivered-To: header field at the top of the message.
envelope_recipient = delivered-to:2
#envelope_recipient = to:1

########################################################################
[destination]
type = MultiSorter
default = [to-davep]

locals = (
  ("(d|chicxulub).*@.*$",                               "[to-davep]"),
  ("^(su|mar).*@.*$",                                   "[to-susan]"),
  ("^(sam).*@.*$",                                      "[to-sam]"),
  ("^(rob|nemo|bark).*@.*$",                            "[to-rob]"),
  # robin's RealArcade account, password: vaj-vaj
  ("^r.real-arcade@.*$",                                "[to-susan]"),
  ("^(all|everyone|family|panaritis|everybody)@.*$",    "[to-davep]"),
  ("^(all|everyone|family|panaritis|everybody)@.*$",    "[to-susan]"),
  ("^(all|everyone|family|panaritis|everybody)@.*$",    "[to-rob]"),
  ("^(all|everyone|family|panaritis|everybody)@.*$",    "[to-sam]"),
  (".*@.*(freebsd|xemacs).org",                         "[to-davep]"),

  ("mail-test@.*",                                      "[to-mail-test]"),
  )

########################################################################
[to-davep]
type = MDA_external
user = davep
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "~davep/Maildir/")

########################################################################
[to-susan]
type = MDA_external
user = susan
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "~susan/Maildir/")

# send Rob's stuff to Mom for now.
[to-rob]
type = MDA_external
user = susan
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "~susan/Maildir/")

# send Sam's stuff to Mom for now.
[to-sam]
type = MDA_external
user = susan
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "~susan/Maildir/")

########################################################################
[to-mail-test]
type = MDA_external
user = mail-test
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "~mail-test/Maildir/")

########################################################################
[filter-1-clamav]
type = Filter_classifier
allow_root_commands = True
path = /usr/bin/clamscan
arguments = ("--stdout", "--no-summary",
    "--mbox", "--infected", "-")
exitcodes_drop = (1,)

########################################################################
[filter-2-spamassassin]
type = Filter_external
allow_root_commands = True
###path = ~davep/bin/spamassassin-no-stderr
path=/usr/bin/spamassassin
###arguments = ("-L", )                    # no net access

#
### Local Variables: ***
### mode:python ***
### End: ***
