# getmailrc -- getmail configuration file
# $Id: ver.rc,v 1.1 2012/01/08 18:28:20 root Exp $
#

########################################################################
[options]
verbose = 0
delete = True
message_log = /var/log/getmail.verizon

########################################################################
[retriever]
type = MultidropPOP3Retriever
use_apop = False
server = incoming.verizon.net
username = panariti
password = pwdssuck1

# Our domain mailbox mailhost records the envelope recipient address in a
# new Delivered-To: header field at the top of the message.
envelope_recipient = delivered-to:2
#envelope_recipient = to:1

########################################################################
[destination]
type = MultiSorter
default = [to-davep]

locals = (
  # The archiver of all.
  (".*",                                                "[to-Mr-AtoZ]"),
  ("(cx|chicx|epleb).*@.*$(?i)",                           "[to-davep]"),
  ("d?panariti.*@.*$(?i)",                              "[to-davep]"),
  ("(dav|dp).*@.*$(?i)",                                "[to-davep]"),

  ("^(sus|mar|mom|mam).*@.*$(?i)",                      "[to-susan]"),
  ("bmeparents.*@.*$(?i)",                              "[to-susan]"),
  ("^(rob|nemo|bark|sonic|shadow|slayer|tails|neopets|pawsy).*@.*$(?i)",
   "[to-rob]"),
  ("^(fiddlestick|yellowringfire|pandalian).*@.*$(?i)", "[to-rob]"),
  ("^(creamy.*filling|quetz|soup).*@.*$(?i)",		"[to-rob]"),
  ("merrylayouts.*@.*(?i)",                             "[to-rob]"),
  ("merrylayouts.*@.*(?i)",                             "[to-davep]"),
  ("merrylayouts.*@.*(?i)",                             "[to-susan]"),
  ("^(sam).*@.*$(?i)",                                  "[to-sam]"),
  # Robin's RealArcade account, password: vaj-vaj
  ("^r.real-arcade@.*$(?i)",                            "[to-rob]"),
  ("^davep.ninten.*$(?i)",                              "[to-rob]"),
  ("^davep.ninten.*$(?i)",                              "[to-susan]"),
  ("^(all|everyone|family|panaritis|everybody|x)@.*$(?i)","[to-davep]"),
  ("^(all|everyone|family|panaritis|everybody|x)@.*$(?i)","[to-susan]"),
  ("^(all|everyone|family|panaritis|everybody|x)@.*$(?i)","[to-rob]"),
  ("^(all|everyone|family|panaritis|everybody|x)@.*$(?i)","[to-sam]"),
  (".*@.*(freebsd|xemacs).org(?i)",                     "[to-davep]"),

  ("mail-test@.*(?i)",                                  "[to-mail-test]"),
  ("imaptest@.*(?i)",                                   "[to-imaptest]"),
  ("catch-all@.*(?i)",                                  "[to-catch-all]"),
  )

########################################################################
[to-Mr-AtoZ]
type = MDA_external
user = davep
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "/collections/mail/Mr-AtoZ/Maildir/")

########################################################################
[to-davep]
type = MDA_external
user = davep
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "~davep/Maildir/")

# Goddam GoDaddy ``forwarding'' servers often screw up in setting the
# Delivered-To: header, leaving it as the name of the email account,
# e.g. `catch-all'
# I have one email account set up as a `catch all', as godaddy calls it.  It
# is named catch-all@domain.  Any mail to domain is caught and sent to the
# forwarding account with Delivered-To: set to the actual name the email was
# sent.
[to-catch-all]
type = MDA_external
user = davep
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "~davep/Maildir/")

########################################################################
[to-susan]
type = MDA_external
user = susan
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "~susan/Maildir/")


[to-rob]
type = MDA_external
# send Rob's stuff to Mom for now.
user = susan
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "~susan/Maildir/")


[to-sam]
type = MDA_external
# send Sam's stuff to Mom for now.
user = susan
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "~susan/Maildir/")

########################################################################
[to-mail-test]
type = MDA_external
user = mail-test
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "~mail-test/Maildir/")

########################################################################
[to-imaptest]
type = MDA_external
user = imaptest
group = mail
path = /usr/bin/getmail_maildir
arguments = ("-v", "~imaptest/Maildir/")

## ########################################################################
## [filter-000-save-all]
## type = Filter_external
## allow_root_commands = True
## path = /usr/yokel/bin/email-save-all.py


########################################################################
# [filter-1-clamav]
# type = Filter_classifier
# allow_root_commands = True
# path = /usr/bin/clamscan
# arguments = ("--stdout", "--no-summary",
#     "--mbox", "--infected", "-")
# exitcodes_drop = (1,)
########################################################################
#[filter-1-clamassassin]
#type = Filter_external
#allow_root_commands = True
#ignore_stderr = True
#path = /usr/bin/clamassassin
#exitcodes_drop = ()

########################################################################
# [filter-2-spamassassin]
# type = Filter_external
# allow_root_commands = True
# ####path = ~davep/bin/spamassassin-no-stderr
# ignore_stderr = True
# exitcodes_drop = ()
# path = /usr/bin/spamc

########################################################################
# mark GoDaddy fuck-ups that set Delivered-To to "catch-?all" instead of the
# real user@
[filter-3-catch-all]
type = Filter_external
allow_root_commands = True
path = /usr/yokel/bin/mail_header_rewriter.py

########################################################################
# Send an email to a requested address.  This allows me to determine
# the current dynamic IP assigned to me.
[filter-4-ping-back]
type = Filter_external
allow_root_commands = True
path = /usr/yokel/bin/email-ping-check.py

#
### Local Variables: ***
### mode:python ***
### End: ***
