[BAB]
defaultState=1

[Menubar]
Width=1600

[Style]
Colors_BrushTint=-1381912
Colors_CheckOff=-1381912
Colors_CheckOn=-2426396
Colors_RadioOff=-1381912
Colors_RadioOn=-1639950
Colors_Slider=-1642247
Colors_SliderGroove=-1381912
Colors_SliderHovered=-1642247
Colors_SliderPressed=-3024158
Colors_TabActive=-1642247
Colors_TabInactive=-1381912
Colors_TintBrushedMetal=false
Colors_UseCustomColors=true
Design_AnimateButtons=true
Design_BevelAsHighlight=true
Design_ButtonColor=-1642247
Design_ButtonStyle=0
Design_CenterTabs=true
Design_Default=1
Design_GroupBoxeShadowDarkness=4
Design_InactiveButtonColor=-1642247
Design_InactiveButtonStyle=3
Design_ShadowGroupBoxes=true
Design_StippleBackground=true
Design_StippleContrast=3
Design_TabStyleAqua=2
Design_TabStyleBrushed=2
Menu_Background=1
Menu_Color1=-1381912
Menu_Color2=-4934733
Menu_ColorHighlight=-1642247
Menu_ColorStyle=2
Menu_DrawMenuStripe=true
Menu_Glossy=true
Menu_Opacity=100
Menu_ShadowText=false
Menu_StripeColor=-788743
Menu_TextColor=-16777216
Menu_TextColorHighlight=-16579837
Special_AnimateSlider=true
Special_ButtonStyle=1
Special_CustomExpanderColor=false
Special_DrawTreeLines=false
Special_ExpanderColor=-16777216
Special_ExpanderStyle=0
Special_ProgressStyle=0
Special_RemoveKickerBevel=true
Special_RoundTaskbuttons=true
Special_ShadowSlider=true
Special_ShowProgressValue=false
Special_SqueezeSlider=true
Special_ToolbuttonStyle=1
Special_TreelineColor=-15329770
Special_TreelineStyle=0
Special_UnhoveredToolButtons=2
Special_UseFlatLVH=false
