q
zuzz[0-9_,-]
history.*
# For safety, don't use .emacs.
# Maybe this file should be renamed.
#.emacs_dpanarit.*
#.emacs_davep.*
.emacs_*.*
/devel/
/bug-tmp/
emacs-places*
bak.d
bin.skaion
lisp-*.tar.bz2
lisp-*.tar.gz
-TMP.

### ??? Ignore elpa tree in .gitignore.  Is this a good idea???
/HIDERS/
/.project
/DOTrc/zsh-REN-ME-TO-zsh/
/DOTrc/oh-my-zsh/
/lisp/contrib.recovered/
/DOTrc/IPython3.d/profile_default/db/
/DOTrc/gnupg.backup.tbz
