/lib
/share
/bin/ctags
/bin/etags
/bin/git
/bin/git-cvsserver
/bin/git-receive-pack
/bin/git-shell
/bin/git-upload-archive
/bin/git-upload-pack
/bin/gitk
/bin/xemacs-21.5-b32
/info/
/lib64/
/libexec/
/man/
