[Desktop Entry]
Comment[en_US]=
Comment=
Exec=ksystraycmd /usr/bin/thunderbird
GenericName[en_US]=Mail client -- Systray'd
GenericName=Mail client -- Systray'd
Hidden=true
Icon=/bfd/opt/thunderbird/icons/mozicon16.xpm
MimeType=
Name[en_US]=T-Bird
Name=T-Bird
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
