Style "*clove*"     	StartsOnDesk 1
Style "*wishbone*"  	StartsOnDesk 1
Style "*scout*"     	StartsOnDesk 1
Style "*gil*"       	StartsOnDesk 1
Style "*rowdy*"     	StartsOnDesk 1
Style "*waterspout*" 	StartsOnDesk 1
Style "*east*" 		StartsOnDesk 1
Style "*valencia*" 	StartsOnDesk 1
Style "*ping*"     	StartsOnDesk 1
Style "*pong*"     	StartsOnDesk 1
Style "*c3po*"     	StartsOnDesk 1
Style "*marvin*"     	StartsOnDesk 1
Style "*r2d2*"     	StartsOnDesk 1
Style "*sybil*"     	StartsOnDesk 1, UseDecor "dp_work_decor"
Style "*mammoth*"     	StartsOnDesk 1, UseDecor "dp_work_decor"
Style "*.crl.*"     	StartsOnDesk 1, UseDecor "dp_work_decor"

########################### Pager #########################################
*FvwmPagerBack #908090
*FvwmPagerFore #484048
*FvwmPagerFont -adobe-helvetica-bold-r-*-*-10-*-*-*-*-*-*-*
*FvwmPagerHilight #cab3ca
*FvwmPagerGeometry 88x76-1+0
*FvwmPagerLabel 0 Home
*FvwmPagerLabel 1 Work
*FvwmPagerSmallFont 5x8
*FvwmPagerScale 8
*FvwmPagerRows 2
