# -*-Shell-script-*-
# $Id: crontab.rc,v 1.6 2005/02/20 09:20:05 davep Exp $
# Config info so my scripts can be run from a cron activation.
#  this allows all of my environment, binaries, etc. to be available.
# N.B.: This must be sourced.

export progname=`basename $0`

if [ -z "${DP_BASHRC_COMPLETE-}" ]
then
    rcfile="$HOME/.bashrc"
    [ -f $rcfile ] && {
        . $rcfile
    }
fi

ETC_BIN_DIR=~/etc
dp_enable_beagle_p=             # Don't use beagle.

true
