html {
	margin:0px;padding:0px;
}

body {
	margin:2px;
	padding:2px;
	font-family:arial;
	font-size:12px;
	color:#000000;

}
#main {
	 height:380px;
	 overflow:hidden;
}

#routeSourceBox {
	display:none;
}
#routeDestBox {
	display:none;
}
#map_container {
	float:left;
	//height:280px;
}
#map_canvas {
	float:left;
	margin-top:2px;
	height:335px;
}
#route {
	float:left;
	height:388px;
	overflow:auto;
	margin-right:5px;
	border:1px solid #aeaeae;
}
#route-container {
	float:left;
	display:none;
	width:390px;
	height:393px;
	margin-top:2px;
}
#footer {
	float:left;
	clear:both;
	margin-top:2px;
	height:10px;
}
#footer a{
  margin:0px;

}